#foot_up {
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;


    .col-4 a {
        text-decoration: none;
        color: #797979;

    }


    #dc_logo_big {
        position: absolute;
        translate: 0 -150px;
        z-index: 0;
    }
}

#foot_down {
    background-color: #303030;
    position: relative;
    z-index: 100;

    button {
        color: white;
        border-color: #0282f9;
    }

    #follow {
        color: #0282f9;
        text-decoration: none;
    }
}