@use './variables.scss' as *;

header {

    li>a {
        padding: 3rem 0.8rem;
    }

    .selected {

        border-bottom: 6px solid $dc_primary;

    }

    .search_control {
        border-bottom: 2px solid $dc_primary;

    }

    #searchbar {
        border-style: none;
    }




}