header {

    li>a {
        padding: 3rem 0.8rem;
    }

    .selected {

        border-bottom: 6px solid blue;

    }

    .search_control {
        border-bottom: 2px solid blue;

    }

    #searchbar {
        border-style: none;
    }




}